.Card{
    border: 1px solid #0265f8;
    background-color: whitesmoke;
    color: #0265f8;
    border-radius: 10px;
    margin: 10px;
    height: 140px;
    width: 150px;
}
.Card svg{
    padding-top: 20px;
    font-size: 25px;
}
.Card h2{
    margin-top: 0;
    margin-bottom: 0;
}

