.naveprinc{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    padding-right: 30px;
    margin-bottom: 5px;
    align-items: center;
    box-shadow: 0px 4px 4px #0265f8;
}
.img{
    width: 50px;
    height: 50px;
    transition: 0.5s;
    cursor: pointer;
}
.img{
    animation: crescerDiminuir 1s alternate infinite;
    transform-origin: center;
  }
  
  @keyframes crescerDiminuir {
    0% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1.4);
    }
  }
  
.nave{
    list-style: none;
    display: flex;   
}
.nave a{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s;
    padding: 20px;
}
.nave a:hover{
    color: #599eff;
}
.links{
    color: black;
}
.linksAtivo{
    color: #0265f8;
}
